# This file may be used to create dependencies:
# platform: win-64
aiofiles
aiohttp
aiosignal
altair
annotated-types
anyio
asgiref
asyncer
attrs
backoff
bcrypt
beautifulsoup4
bidict
bs4
build
cachetools
certifi
cffi
chainlit
charset-normalizer
click
colorama
coloredlogs
contourpy
cryptography
ctransformers
curl-cffi
cycler
dataclasses-json
deprecated
duckduckgo-search
faiss-cpu
fastapi
fastapi-socketio
ffmpy
filelock
filetype
flatbuffers
fonttools
frozenlist
fsspec
google-auth
googleapis-common-protos
greenlet
grpcio
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib-resources
jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langsmith
lazify
lxml
markdown-it-py
markupsafe
marshmallow
matplotlib
mdurl
mmh3
monotonic
mpmath
multidict
mypy-extensions
nest-asyncio
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
pillow
pip
posthog
protobuf
pulsar-client
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pydub
pygments
pyjwt
pyparsing
pypdf
pypika
pyproject-hooks
pyprojroot
pyreadline3
python-dateutil
python-dotenv
python-engineio
python-graphql-client
python-multipart
python-socketio
pytz
pyyaml
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
sdist
semantic-version
sentence-transformers
setuptools
shellingham
simple-websocket
six
sniffio
soupsieve
sqlalchemy
starlette
swig 
sympy
syncer
tenacity
tiktoken
tk
tokenizers
tomli
tomlkit
toolz
tqdm
typer
typing-extensions
typing-inspect
tzdata
uptrace
urllib3
uvicorn
vc
watchfiles
websocket-client
websockets
wheel
wrapt
wsproto
yarl
zipp